#root {
	width: 1300px;
	margin: 0 auto;
}

.container {
	float: left;
}

.card {
	width: 18%;
	margin: 10px;
	height: 320px;
	border: 1px solid gray;
	display: inline-grid;
}

h1 {
	font-family: Arial;
	font-size: 1.3em;
	text-transform: capitalize;
	padding: 8px;
}

h2, h3 {
	font-family: Arial;
	font-size: 1.1em;
	padding: 8px;
	font-weight: normal;
}

p {
	font-family: Arial;
	padding: 8px;
	text-transform: capitalize;
	font-weight: bold;
}